body {
  height: 100%;
  background-color: lightgray;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.Header {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  width: 100%;
}

.main-scroll {
  display: flex;
  width: 500px;
  margin: 10px;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.form-inline .form-control {
  width: 92%;
  padding: 5px;
}

.form-inline {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.friend {
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: left;
}

ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
